/* Write your code here. */

.social-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ffffff;
}

.Like-button {
  background-color: #eab308;
  margin-right: 10px;
}

.comment-button {
  background-color: #ffffff;
  margin-right: 10px;
}

.share-button {
  background-color: #1d4ed8;
}
